// DevOps context
const configUrlApi = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_URL_API
const configUrlApiBeta = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_URL_API_BETA
const configGTMID = DEVOPS_CONTEXT_PLATFORM_APP_GTMID