// DevOps context
var configUrlApi = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_URL_API
var configUrlApiBeta = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_URL_API_BETA
var configGoogleTagManagerID = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_GOOGLE_TAG_MANAGER_ID
var configEFOURL = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_EFO_URL
var configPrimaryColor = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PRIMARY_COLOR
var configHelpdeskEmail = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_HELPDESK_EMAIL
var configIsPartnerPreview = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_IS_PARTNER_PREVIEW
var configHideDiseaseSectionIds = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_HIDE_DISEASE_SECTION_IDS
var configPartnerDiseaseSectionIds = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PARTNER_DISEASE_SECTION_IDS
var configHideTargetSectionIds = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_HIDE_TARGET_SECTION_IDS
var configPartnerTargetSectionIds = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PARTNER_TARGET_SECTION_IDS
var configHideDrugSectionIds = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_HIDE_DRUG_SECTION_IDS
var configPartnerDrugSectionIds = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PARTNER_DRUG_SECTION_IDS
var configHideEvidenceSectionIds = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_HIDE_EVIDENCE_SECTION_IDS
var configPartnerEvidenceSectionIds = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PARTNER_EVIDENCE_SECTION_IDS
var configPartnerColorRange = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PARTNER_COLOR_RANGE
var configHideDataTypes = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_HIDE_DATA_TYPES
var configPartnerDataTypes = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PARTNER_DATA_TYPES
var configPartnerDataSources = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PARTNER_DATA_SOURCES