// DevOps context
var configUrlApi = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_URL_API
var configUrlApiBeta = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_URL_API_BETA
var configGoogleTagManagerID = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_GOOGLE_TAG_MANAGER_ID
var configEFOURL = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_EFO_URL
var configPrimaryColor = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_PRIMARY_COLOR
var configFlagShowOTARProjects = DEVOPS_CONTEXT_PLATFORM_APP_CONFIG_FLAG_SHOW_OTAR_PROJECTS